<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>CrunchifySpringMVCTutorial</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>crunchify</servlet-name>
    <servlet-class>
      org.springframework.web.servlet.DispatcherServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>crunchify</servlet-name>


    <!--后台叫做资源-->
    <!--没有其他和请求匹配的最后都和/ 匹配-->
    <!--TODO 搞清除匹配模式 规则如下-->
    <!--The matching procedure has four simple rules. First, the container prefers an exact path match over a wildcard path match. Second, the container prefers to match the longest pattern. Third, the container prefers path matches over filetype matches. Finally, the pattern <url-pattern>/</url-pattern> always matches any request that no other pattern matches-->
    <url-pattern>/</url-pattern>
    <url-pattern>/welcome</url-pattern>
      <!--<url-pattern>/welcome/mm/tt</url-pattern>-->
    <!--<url-pattern>/welcome/test</url-pattern>-->
    <!--<url-pattern>/welcome.jsp</url-pattern>-->
    <!--<url-pattern>/welcome.html</url-pattern>-->
    <!--<url-pattern>*.html</url-pattern>-->
  </servlet-mapping>

</web-app>
